<section class="about-show">

  <header class="page-header">
    <h1>
      About
    </h1>
  </header>

  <div>
  <a>Inflation causes plants to grow better. Buy some plants now and watch them grow!</a>
  </div>

</section>
